{% extends 'base.html' %}
{% load static %}



{%block content%}



	<div class="row">
	<div class="col">

		<div class="jumbotron"></div>
	</div>

		<div class="row">
			<div class="container">

			<div class="col-lg-10 contact_col">
				<div class="contact_contents">
					<div class="container">
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
					<h2>Klasicsystems</h2>
					<h3>electronic Sales - Repair & Services</h3>
						
					<p>Klasicsystems Located at Suncity Arcade Kampala Road,</p> 
					<p>we are a Computer Technology Sales and Service company that has immersed ourselves into the technologies of the new millennium.</p>
					<p>at Klasicsystems we provide electronics, computer and technical consulting (repairs, training, networking and upgrade service) to local small businesses as well as home users. </p>
						
					<p>Klasicsystems is a full service electronics  Repair company that offers a wide variety of technology based services to meet the needs of individuals, families, home offices, and small businesses. We provide professional fully trained, certified technicians to diagnose, maintain, and repair our client's equipment.</p>
						
					<h3>Our Goal</h3>	
					<p>Our goal is to create a lasting professional business relationship with all of our customers. We strive to make you feel like you have your own personal technician and that you are his only customer. 
						Our customer service is top rated. Many of our customers rely on us every time they have issues or even questions relating to their electronics. 
						We are dedicated to offering you the best possible support at unbeatable prices.</p>	
						<p>We DO NOT out-source any of our services and all of our technicians have professional computer technology experience with certifications.</p> 
						<p>Our technicians are here for your one-on-one needs ranging from troubleshooting, virus removal, system maintenance, to training you on how to use your new equipment.
							We understand that everyone has a different level of technology understanding and we work with our customers to explain everything in terms they can understand.</p>	
						
						
						</div>
					<div class="container">

						<h3>Talk to a technology professional</h3>

						<p>(256) 757-906156</p>
						<p>(256) 772-543783</p>
						<p>info@klasicsystems.com</p>
					</div>
					<div>
					
					</div>
					<div class="container">
						<p>Open hours: 8.00-18.00 Mon-Fri</p>
						<p>Sunday: Closed</p>
					</div>
				</div>

				
			</div>
		</div>

			

		</div>
	</div>

	

	
{%endblock content%}